@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 20%;
    background-color: #d9d9d9;
    margin-bottom: 16px;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
    text-align: center;
  }
  
  .navbar-logo {
    width: 90px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .navbar-profile {
    text-align: center;
  }
  .navbar-name {
    color: #640000;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.6em;
  }
  .profile-pic {
    width: 50px;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
  }
  
  .profile-name {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu {
    position: absolute;
    top: 120px;
    right: 5%;
    padding: 10px 20px;
    background: #d9d9d9;
    border: 1px solid black;
    width: 230px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    visibility: hidden;
    text-align: right;
    opacity: 0;
  }
  
  .action .menu.active {
    top: 80px;
    right: 5%;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: right;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  .action .menu ul{
    text-align: right;
  }
  .action .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .action .menu ul li img {
    width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: #640000;
  }
.ticket-container2{
    padding: 60px;
}
.submission-form{
    border: 1px solid #000000;
    padding: 50px;
}
.submission-form-2{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}
.text-1{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 121.99%;
    color: #640000;
}
.flex{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.labels{
     padding: 20px 0px;
     font-weight: 400;
     font-size: 1.5em;
}
.label1{
    /* padding: 20px 0px; */
    font-weight: 400;
}
.label2{
    padding: 17px 17px;
    width: 50%;
}
input[type="file"] {
    display: none;
}
.custom-file-upload{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 12px 12px 12px;
    background-color: #D9D9D9;
    width: 13%;
    cursor: pointer;
    justify-content: space-around;
}
.custom-file-upload img{
    height: 1.8em;
    width: 1.8em;
    /* margin-left: 2.2rem; */
}
.choose-file{
    content: 'Upload file';
    font-weight: 500;
    /* width: 13%; */
    cursor: pointer;
    background: #D9D9D9;
}
.credentials p span{
    font-style: italic;
    opacity: 0.7;
}

textarea{
    padding: 10px 10px;
    width: 50vh;
    border: 1.4px solid black;
    border-radius: 5px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.cancel-button{
    padding: 2rem;
}
.cancel{
    background-color: white;
    border: 2px solid #640000;
    color: #640000;
    font-family: 'Poppins';
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    width: 11.5em;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.submit{
    background-color: #640000;
    color: white;
    border: 2px solid #640000;
    font-family: 'Poppins';
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    width: 11.5em;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.submit-button{
    padding: 2rem;
    width: 17.5em;
}
.credentials{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}
.credentials label{
    font-family: 'Poppins';
    font-weight: 500;
}
.credentials input{
    border-radius: 6px;
    height: 31px;
    border-radius: 1px solid black;   
    font-weight: 400;
}
.radio{
    margin-left: 12px;
}
.btn-grp{
    text-align: center;
 }
 
 
 .scn-btn{
     color: #640000;
     background-color: white;
     width: 9rem;
     height: 2.5rem;
     box-shadow: none;
     border: 1px solid #640000;
     margin-right:0.5rem ;
     font-family: 'poppins';
     font-weight: 500;
     font-size: 0.7em ;
     letter-spacing: 0.2rem;
     padding-left: 5px;
 }
 .pri-btn{
     color: white;
     background-color: #640000;
     width: 9rem;
     height: 2.5rem;
     box-shadow: none;
     border: 1px solid #640000;
     margin-left:0.5rem ;
     font-family: 'poppins';
     font-weight: 500;
     font-size: 0.7em ;
     letter-spacing: 0.2rem;
     padding-left: 5px;
 }
 
 
@media screen and (max-width: 1170px){
    .custom-file-upload{
        width: 20%;
        justify-content: space-around;
    }
    
}
@media screen and (max-width: 1000px){
    .custom-file-upload{
        width: 28%;
        justify-content: space-around;
    }
}
@media screen and (max-width: 848px){
    .custom-file-upload{
        width: 40%;
        justify-content: space-around;
    }
}

@media screen and (max-width:590px) {

    .navbar-name{
    font-size: 10px;
    visibility: hidden;
    }
    .custom-file-upload{
        width: 70%;
        justify-content: space-around;
    }
}
@media screen and (max-width: 780px){
    .navbar-name{
        font-size: 1rem;
     }
    }
@media screen and (max-width: 714px){
        .buttons{
            flex-wrap: wrap;
         }
        }
@media screen and (max-width:390px){
    .cancel{
        width: 8rem;
        letter-spacing: 4px;
    }
    .cancel-button{
        padding: 0.5rem;
    }
    .submit{
        width: 8rem;
        letter-spacing: 4px;

    }
    .custom-file-upload{
        width: 100%;
        justify-content: space-around;
    }
}