@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {}

.login1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url(../Images/image\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.login1-logo{
    display: block;
}
.login1-logo-img{
    height: 5.5rem;
    width: 7rem;
    margin-top: 1.5rem;
}
.login1-para1{
    margin-top: 7rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
}
.login1-para2{
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
.login1-button{
    color: white;
    background-color: #640000;
    width: 11rem;
    height: 3rem;
    box-shadow: none;
    border: 1px solid #640000;
    margin-top: 3.5rem;
    font-size: 1.2em ;
    letter-spacing: 0.4rem;
    padding-left: 5px;
}
.login1-hr-para{
    width: 100%;
}
.login1-hr{
    margin:0 auto;
    margin-top: 5.5rem;
    /* border: 1px solid white; */
    /* border-left: 1rem solid white; */
    margin-bottom: 3rem;
    width:90%;
}
.login3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #640000;
}
.login3-para1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2em;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.login3-img{
    height: 5rem;
    margin-bottom: 2rem;
}
.login3-para2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.login3-para2-div{
    width: 80%;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 5.5rem;
    font-size: 1.2em;
}