<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adord.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <img class="navbar-logo" src="{{ url_for('static', filename='Images/TIET-logo.png') }}" alt="" />
        <p class="navbar-name">PhD PROGRESS MONITORING SYSTEM</p>
    
        <div class="action">
          <div class="profile" onclick="menuToggle();">
            <img src="{{ url_for('static', filename='Images/User.png') }}" />
          </div>
          <div class="menu">
            <h3>Sk Sayan</h3>
            <ul>
              <li>
                <img src="{{ url_for('static', filename='Images/download.png') }}" /><a href="#"
                  >change password</a
                >
              </li>
              <li><img src="{{ url_for('static', filename='Images/logout.png') }}" /><a href="#">logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main">
        <h1 class="main-heading">AU Window</h1>
        <div class="container1">
          <form action="/admin_dashboard" method="post" class="container1">
              <select name="filter_approval" class="dropdowns"></option>
                <option value="all" selected>All Approval Status</option>
                <option value="approved">Approved</option>
                <option value="unapproved">Unapproved</option>
              </select>
              <button class="" type="submit">FILTER</button>
          </form>
        </div>
        {% for each in projects %}
        <div class="container2">
            <div class="card">
              <div class="title">
                <p class="heading">Title : {{ each['ProjectTitle'] }}</p>
                <div class="card-left">
                  <!-- date of irb, date of progress presentation, supervisor(s) approved, as keys for project dictionary from flask -->
                  <p class="card-left-para">Date of IRB :{{ each['DateOfIRB'] }}</p>
                  <p class="card-left-para">Date of Progress Presentation : {{ each['DateOfProgressPresentation'] }}</p>
                  <p class="card-left-para">Supervisor(s) Approved : {{ each['approved'] }}</p>
              </div>
            </div>
                <div class="card-right">
                  <p class="card-right-para">Name:{{ each['student_name'] }}</p>
                  <p class="card-right-para">Roll No.: {{ each['RollNo'] }}</p>
                </div>
        {% endfor %}
            </div>
        </div>

      </div>
    <div class="footer">
      <div class="footer-left">
        <a href="/xl/{{ AU }}"><button>GENERATE XL/CSV SHEET</button></a>
        <div class="footer-date">
          <p class="date-name">LAST DATE :</p>
        <p>15/04/2023</p>
        </div>
      </div>
       <div class="footer-right">
        <p class="footer-text">*XL SHEET WILL BE AUTOMATICALLY GENERATED AFTER LAST DATE.</p>
       </div>
       
    </div>
</body>
<script>
    function menuToggle() {
      const toggleMenu = document.querySelector(".menu");
      toggleMenu.classList.toggle("active");
    }
  </script>
</html>