<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css templates/Login.css">
    <title>Login Page</title>
</head>

<body>
    <header>

    </header>

    <div class="login1">
        <p class="login1-logo">
            <img class="login1-logo-img" src="../Images/TIET-logo.png" alt="TIET">
        </p>
        <p class="login1-para1">SUBMIT YOUR THESIS HERE</p>
        <p class="login1-para2">PhD Progress Monitor</p>
        <button class="login1-button">LOG IN</button>
        <div class="login1-hr-para">
            <hr class="login1-hr">
        </div>
    </div>

    <div class="login2">
        <div class="login2-top">
            <p class="login2-top-para1">LOG IN</p>
            <p class="login2-top-para2">TO YOUR ACCOUNT</p>
        </div>
        <div class="login2-bottom">
            <div class="login2-left">
                <p class="login2-left-para11">Thapar Institute of</p>
                <p class="login2-left-para12">Engineering and Technology</p>
                <p class="login2-left-para2">Cookies must be enabled in your browser</p>
                <p class="login2-left-para3">Is this your first time here?</p>
                <p class="login2-left-para4">TIET has already emailed username and password on your @thapar.edu email.
                    In case you are facing any issue in accessing , please create an account, verify a link on your
                    email and then login on TIET Online Support https://eticket.thapar.edu with your email preferably
                    @thapar.edu. Create a support eticket under IT - Thapar Email Support. We will help you.</p>
                <p class="login2-left-para5">Stay Safe and Stay Healthy.</p>

            </div>
            <div class="login2-right">
                <!-- <p class="login2-right-para1">Already have an account?</p> -->
                <!-- <p class="login2-right-para2">TO YOUR ACCOUNT</p> -->
                <form class="login2-right-form" action="/login" method="post">
                    <div class="username">
                        <img class="login-form-images" src="../Images/User.png" alt="User">
                        <input class="login-form-input" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="password">
                        <img class="login-form-images" src="../Images/Pass.png" alt="Pass">
                        <input class="login-form-input" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="login-form-username">
                        <input type="checkbox" id="user-pass" name="remember" value="Bike">
                        <label for="remember">Remember Username</label>
                    </div>
                    <p class="login2-right-para4">Forgotten your username or password?</p>
                    <button type="submit" class="login-form-button">LOG IN</button>
                </form>
                <!-- <p class="login2-right-para3"></p> -->

            </div>
        </div>
    </div>

    <div class="login3">
        <p class="login3-para1">ABOUT</p>
        <img src="../Images/Arrow.png" alt="" class="login3-img">
        <div class="login3-para2-div">
            <p class="login3-para2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi velit voluptate
                itaque similique nesciunt laboriosam quo nisi atque doloribus libero. Qui rem saepe quaerat aliquid
                cumque laborum illo dolores. Veritatis neque optio maiores labore temporibus, magni voluptates
                praesentium expedita distinctio itaque officiis, qui hic facere perferendis odio eligendi? Quis dolorem
                quibusdam esse laudantium corporis cum ratione commodi dolore qui ipsa iusto libero, beatae aliquam
                doloremque et? Voluptatum aspernatur libero consequatur explicabo commodi repellendus fugiat corporis
                perferendis earum ut alias, eaque accusantium.</p>
        </div>
    </div>
</body>

</html>