<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css templates/Login.css">
    <title>Login Page</title>
</head>

<body>
    <header>

    </header>

    <div class="login1">
        <p class="login1-logo">
            <img class="login1-logo-img" src="../Images/TIET-logo.png" alt="TIET">
        </p>
        <p class="login1-para1">SUBMIT YOUR THESIS HERE</p>
        <p class="login1-para2">PhD Progress Monitor</p>
        <button class="login1-button">LOG IN</button>
        <div class="login1-hr-para">
            <hr class="login1-hr">
        </div>
    </div>

    <div class="login2">
        <p class="login2-para1">LOG IN</p>
        <p class="login2-para2">TO YOUR ACCOUNT</p>
        <form class="login2-form" action="/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>

    <div class="login3">
        <p class="login3-para1">ABOUT</p>
        <img src="../Images/Arrow.png" alt="" class="login3-img">
        <div class="login3-para2-div">
            <p class="login3-para2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi velit voluptate itaque similique nesciunt laboriosam quo nisi atque doloribus libero. Qui rem saepe quaerat aliquid cumque laborum illo dolores. Veritatis neque optio maiores labore temporibus, magni voluptates praesentium expedita distinctio itaque officiis, qui hic facere perferendis odio eligendi? Quis dolorem quibusdam esse laudantium corporis cum ratione commodi dolore qui ipsa iusto libero, beatae aliquam doloremque et? Voluptatum aspernatur libero consequatur explicabo commodi repellendus fugiat corporis perferendis earum ut alias, eaque accusantium.</p>
        </div>
    </div>
</body>

</html>