<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opening/Closing E-ticket</title>
    <link rel="stylesheet" href="/css templates/openingticket.css">
</head>
<body>
    <div class="navbar">
        <img class="navbar-logo" src="../archived-for-now/Images/TIET-logo.png" alt="" />
        <p class="navbar-name">PhD PROGRESS MONITORING SYSTEM</p>
    
        <div class="action">
          <div class="profile" onclick="menuToggle();">
            <img src="../archived-for-now/Images/User.png" />
          </div>
          <div class="menu">
            <h3>Sk Sayan</h3>
            <ul>
              <li>
                <img src="../archived-for-now/Images/download.png" /><a href="#"
                  >change password</a
                >
              </li>
              <li><img src="../archived-for-now/Images/logout.png" /><a href="#">logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="main-heading">E-Ticket Opening/Closing Portal</div>
        <div class="main-container">
            <div class="main-container-date">
                <p>SET LAST DATE: </p>
                <input name="date" type="date"></input>
            </div>
            <div class="main-button">
                <button>Open E-Ticket</button>
            </div>
            <div class="bottom-text">
                <p>*Mail will be sent to all the PhD Scholars Automatically</p>
            </div>
        </div>
      </div>
</body>
</html>