<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css templates/student_progress.css">
    <title>Student Submission</title>
</head>
<body>
    <div class="navbar">
        <img class="navbar-logo" src="../Images/TIET-logo.png" alt="" />
        <p class="navbar-name">PhD PROGRESS MONITORING SYSTEM</p>
    
        <div class="action">
          <div class="profile" onclick="menuToggle();">
            <img src="../Images/User.png" />
          </div>
          <div class="menu">
            <h3>Sk Sayan</h3>
            <ul>
              <li>
                <img src="../Images/download.png" /><a href="#"
                  >change password</a
                >
              </li>
              <li><img src="../Images/logout.png" /><a href="#">logout</a></li>
            </ul>
          </div>
        </div>
      </div>

    <div class="main-heading1-dash">
        <p class="heading1-dash">SCHOLAR’S PROGRESS WINDOW</p>
    </div>
    <!-- <div class="main-button-div"> -->
        <a class="main-button-div" href="/ticket"><button class="main-button-dash">+ Submit Your Work</button></a>
    <!-- </div> -->
</body>
<script>
    function menuToggle() {
      const toggleMenu = document.querySelector(".menu");
      toggleMenu.classList.toggle("active");
    }
  </script>
</html>