<!-- 
projectID
AU
studentID
date_of_registration
GATE
project_title
date_of_irb
date_of_progress_present
file_path
publications
conferences
worktillprev
worktillnow
-->

<!-- {{ project[] }} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PhD-progress-monitoring-system</title>
  <link rel="stylesheet" href="../css templates/supervisorproject.css">

</head>

<body>
  <div class="navbar">
    <img class="navbar-logo" src="../Images/TIET-logo.png" alt="" />
    <p class="navbar-name">PhD PROGRESS MONITORING SYSTEM</p>

    <div class="action">
      <div class="profile" onclick="menuToggle();">
        <img src="../Images/User.png" />
      </div>
      <div class="menu">
        <h3>umar shaikh</h3>
        <ul>
          <li>
            <img src="../Images/download.png" /><a href="#"
              >change password</a
            >
          </li>
          <li><img src="../Images/logout.png" /><a href="#">logout</a></li>
        </ul>
      </div>
    </div>
  </div>

 
  <div class="main">
    <div>
      <a class="back" href="#"><img src="../Images/back.png" alt="">    Back</a>
    </div>
    <h1>Submitted work</h1>
    <span class="heading"> Project ID:</span>
    <p>
      {{ project[projectID] }}
    </p>
    <br>
    <span class="heading">Academic Unit: </span>
    <p>
      {{ project[AU] }}
    </p>
    <br>
    <span class="heading">ROLL NO.: </span>
    <p>
      {{ project[studentID] }}
    </p>
    <br>
    <span class="heading">Date of registration: </span>
    <p>
      {{ project[date_of_registration] }}
    </p>
    <br>
    <span class="heading">Gate/NET/TA: </span>
    <p>
      {{ project[GATE] }}
    </p>
    <br>
    <span class="heading">Project Title: </span>
    <p>
      {{ project[project_title] }}
    </p>
    <br>
    <span class="heading">Date of IRB: </span>
    <p>
      {{ project[date_of_irb] }}
    </p>
    <br>
    <span class="heading">Date of progress presentation: </span>
    <p>
      {{ project[date_of_progress_present] }}
    </p>
    <br>
    <span class="heading">presentation as PDF</span>
   <div> <a href="{{ project[file_path] }}"> <img class="viewfile" src="../Images/viewfile.png" alt=""></a>
    </div>
    <span class="heading">Name of Supervisor:</span>
    <p>
      {{ data[supervisorX] }}
      {{ data[supervisorY] }}
      {{ data[supervisorZ] }}
    </p>
    <br>
    <span class="heading">Members of Doctoral Committee:</span>
    <div class="committee">
      
      <div>  <p>i.
        {{ data[committeeX] }}
      </p>
<br>
      <p>ii.
        {{ data[committeeY] }}
      </p>
    </div>

    <div>

      <p>iii.
        {{ data[committeeZ] }}
      </p>
      <br>

      <p>iv.
        {{ data[committeeA] }}
      </p></div>
    </div>


    <div class="publication">
      <div class="publication-content">
        <span class="heading">Scopus Publication </span>
        <p>Borem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
      </div>
      <div class="publication-content">
        <span class="heading">Conference Presentation  </span>
        <p>Borem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
      </div>
    </div>

    <span class="heading">Remarks</span>

    <form action="">
        <textarea class="input" name="" id=""  placeholder="add your remarks"></textarea>
    </form>
<div class="btn-grp">

 <button class="scn-btn">NOT SATISFIED</button>
    <button class="pri-btn">SATISFIED</button></div>
   
    
  </div>
</body>
<script>
  function menuToggle() {
    const toggleMenu = document.querySelector(".menu");
    toggleMenu.classList.toggle("active");
  }
</script>

</html>