<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ticket.css') }}"">
    <link rel=" stylesheet" href="{{ url_for('static', filename='css/ticket_static.css') }}">
    <title>Supervisor</title>
</head>

<body>

<div class="navbar">
    <img class="navbar-logo" src="{{ url_for('static', filename='Images/TIET-logo.png') }}" alt="" />
    <p class="navbar-name">PhD PROGRESS MONITORING SYSTEM</p>
</div>
<div class="main">
    <h1>Submitted work</h1>
    <div class="flex-container">
        <div class="width">
            <span class="heading"> Project ID:</span>
            <p>
                {{ Ticket['projectid'] }}
            </p>
        </div>
        <div>
            <span class="heading">Academic Unit: </span>
            <p>
                {{ Ticket['AU'] }}
            </p>
        </div>
    </div>
    <div class="flex-container">
        <div class="width">
            <span class="heading">Name: </span>
            <p>
                {{ Ticket['RollNo'] }}
            </p>
        </div>
        <div>

            <span class="heading">Date of registration: </span>
            <p>
                22/02/12
                <!-- {{ Ticket['DateOfRegistration'] }} -->
            </p>
        </div>
    </div>
    <div class="flex-container">
        <div class="width">
            <span class="heading">Roll No.: </span>
            <p>
                {{ Ticket['RollNo'] }}
            </p>
        </div>
        <div class="width">
            <span class="heading">Gate/NET/TA: </span>
            <p>
                <input type="radio" name="GATE" value="Yes" {{ Ticket['gate_yes'] }}>Yes
                <input type="radio" name="GATE" value="No" {{ Ticket['gate_no'] }}>No
            </p>
        </div>
    </div>
    <span class="heading">Project Title: </span>
    <p>
        {{ Ticket['ProjectTitle'] }}
    </p><br>
    <div class="flex-container">
        <div class="width">
            <span class="heading">Date of IRB: </span>
            <p>
                12/12/12
                <!-- {{ Ticket['DateOfIRB'] }} -->
            </p>
        </div>
        <div>
            <span class="heading">Date of progress presentation: </span>
            <p>
                12/12/12
                <!-- {{ Ticket['DateOfProgressPresentation']}} -->
            </p>
        </div>
    </div>
    <br>
    <!-- <span class="heading">presentation as PDF</span>
        <div> <a href="{{ Ticket['FilePath']}}"> <img class="viewfile" src="../Images/viewfile.png" alt=""></a>
        </div>
        <br> -->
    <div class="">
        <div class="">
            <span class="heading">Supervisor(s):</span>
            <br>

        </div>
        <div class="flex-container">
            <div class="flex-container-2 width">

                <p class="heading">Name:</p>
                <p>
                    i.
                    {{ Ticket['Supervisor1']}}
                </p>
            </div>
            <div class="flex-container-2">
                <p class="heading">Email-id:
                </p>
                <p>
                    i.
                    {{ Ticket['Supervisor1_email']}}
                </p>
            </div>
        </div>
    </div>
    <div>


        <div class="flex-container">
            <div class="flex-container-2 width">
                <p class="heading">Name:(𝘪𝘧 𝘢𝘯𝘺)</p>
                <p>
                    ii.
                    {{ Ticket['Supervisor2']}}
                </p>
            </div>
            <div class="flex-container-2">
                <p class="heading">Email-id:(𝘪𝘧 𝘢𝘯𝘺)
                </p>
                <p>
                    ii.
                    {{ Ticket['Supervisor2_email']}}
                </p>
            </div>
        </div>
    </div>
    <div>



        <div class="flex-container">
            <div class="flex-container-2 width">
                <p class="heading">Name:(𝘪𝘧 𝘢𝘯𝘺)</p>
                <p>
                    iii.
                    {{ Ticket['Supervisor3']}}
                </p>
            </div>
            <div class="flex-container-2">
                <p class="heading">Email-id:(𝘪𝘧 𝘢𝘯𝘺)
                </p>
                <p>
                    iii.
                    {{ Ticket['Supervisor3_email']}}
                </p>
            </div>
        </div>
    </div>

    <br>
    <div>
        <div>
            <span class="heading">Doctoral Committee:</span>
            <br>
        </div>
        <div class="flex-container">
            <div class="flex-container-2 width">
                <p class="heading">Name:</p>
                <p>
                    i.
                    {{ Ticket['Committee1']}}
                </p>
            </div>
            <div class="flex-container-2">
                <p class="heading">Email-id:
                </p>
                <p>
                    i.
                    {{ Ticket['Committee1_email']}}
                </p>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-container-2 width">
            <p class="heading">Name:</p>
            <p>
                ii.
                {{ Ticket['Committee2']}}
            </p>
        </div>
        <div class="flex-container-2">
            <p class="heading">Email-id:
            </p>
            <p>ii.
                {{ Ticket['Committee2_email']}}
            </p>
        </div>
    </div>

    <div>
        <div class="flex-container">
            <div class="flex-container-2 width">
                <p class="heading">Name:</p>
                <p>
                    iii.
                    {{ Ticket['Committee3']}}
                </p>
            </div>
            <div class="flex-container-2">
                <p class="heading">Email-id:
                </p>
                <p>
                    iii.
                    {{ Ticket['Committee3_email']}}
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="flex-container">
            <div class="flex-container-2 width">
                <p class="heading">Name:</p>
                <p>
                    iv.
                    {{ Ticket['Committee4']}}
                </p>
            </div>
            <div class="flex-container-2">
                <p class="heading">Email-id:
                </p>
                <p>
                    iv.
                    {{ Ticket['Committee4_email']}}
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="flex-container">
            <div class="flex-container-2 width">
                <p class="heading">Name:(𝘪𝘧 𝘢𝘯𝘺)</p>
                <p>
                    v.
                    {{ Ticket['Committee5']}}
                </p>
            </div>
            <div class="flex-container-2">
                <p class="heading">Email-id:(𝘪𝘧 𝘢𝘯𝘺)
                </p>
                <p>
                    v.
                    {{ Ticket['Committee5_email']}}
                </p>
            </div>
        </div>
    </div>
    <br>
    <span class="heading">presentation as PDF</span>
    <div> <a href="{{ Ticket['FilePath']}}"> <img class="viewfile" src="{{ url_for('static', filename='Images/viewfile.png') }}" alt=""></a>
    </div>
    <br>
    <div class="">
        <div class="publication-content">
            <span class="heading">Scopus Publication </span>
            <p>
                {{ Ticket['Publications']}}
            </p>
        </div>
        <div class="publication-content">
            <span class="heading">Conference Presentation </span>
            <p>
                {{ Ticket['Conferences']}}
            </p>
        </div>
    </div>
    <br>
    <form class="percentage-container" action="/supervisor/{{ Ticket['projectid'] }}" method="post" enctype=multipart/form-data>
        <p class="heading heading-height">Email</p>
        <div class="percentage-input">
            <input type="text" name="supervisor_email" id="">
        </div>
        <p class="heading heading-height">Percentage of work done till previous presentation</p>
        <div class="percentage-input">
            <input id="number1" type="text" name="percentage_prev">
            <p>%</p>
        </div>
        <p class="heading">Percentage of work done till present</p>
        <div class="percentage-input">
            <input id="number2" oninput="submit1()" type="text" name="percentage_present">
            <p>%</p>
        </div>
        <p class="heading">Total Marks</p>
        <p id="screen1"> {{ Ticket['Total_Marks'] }} </p>
        <p class="heading">Remarks</p>
        <textarea class="percentage-container-text" name="remarks" cols="30" rows="8"></textarea>
        <br>

    <p class="heading1">Satisfied:</p>
    <input type="radio" name="approved" value="yes">Yes
    <input type="radio" name="approved" value="no">No
    <br>
    <div class="button-container">
        <button class="button-submit" type="submit">SUBMIT</button>
    </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
    $( document ).ready(function() {
    
    });
    function submit1(){
        var a =  document.getElementById("number1").value;
        var b =  document.getElementById("number2").value;
        var c = parseInt(a) + parseInt(b); 
        document.getElementById("screen1").innerHTML=c;
      }
    </script>
    </body>
  

    </html>