<!-- 
projectID
AU
studentID
date_of_registration
GATE
project_title
date_of_irb
date_of_progress_present
file_path
publications
conferences
worktillprev
worktillnow
-->

<!-- {{ project[] }} -->

<p>Project ID: {{ project[projectID] }}</p>
<p>AU: {{ project[AU] }}</p>
<p>ROLL NO.: {{ project[studentID] }}</p>
<p>Date of registration: {{ project[date_of_registration] }}</p>
<p>Gate/NET/TA: {{ project[GATE] }}</p>
<p>Project Title: {{ project[project_title] }}</p>
<p>Date of IRB: {{ project[date_of_irb] }}</p>
<p>Date of progress presentation: {{ project[date_of_progress_present] }}</p>
<p>view file: {{ project[file_path] }}</p>