<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='ticket.css') }}">
    <title>Submission Form</title>
</head>
<body>
    
        <div class="action">
          <div class="profile" onclick="menuToggle();">
            <img src="../Images/User.png" />
          </div>
          <div class="menu">
            <h3>Sk Sayan</h3>
            <ul>
              <li>
                <img src="../Images/download.png" /><a href="#"
                  >change password</a
                >
              </li>
              <li><img src="../Images/logout.png" /><a href="#">logout</a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="ticket-container2">
    <div class="submission-form">
    <form action="/ticket" method="POST">
    <div class="submission-form-2">
        <div class="text-1">Thesis Submission Form</div>
    <div class="credentials">
        <label class="labels">Name</label>
        <input class="label2" type="text" name="name">

<script>
    function menuToggle() {
      const toggleMenu = document.querySelector(".menu");
      toggleMenu.classList.toggle("active");
    }
  </script>